:root {
--accent-color: #2196F3;
--body-color: #212121;
--header-color: #FFFFFF;
--logo-color: #000000;
--description-color: #757575;
--portfolio-btn-color: #F5F4FA;
--hero-footer-backround: #2F303A;
--contacts-footer-color: rgba(255, 255, 255, 0.6);
--hover-focus-color: #188CE8;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body{
    font-family: "Roboto", "Raleway", sans-serif;
    color: var(--body-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.header {
    background-color: var(--header-color);
}

/* оформление логотипа */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    
}
.logo-style {
    color: var(--accent-color);
}

/* оформление списка в хедере */


.menu-elements {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--body-color);
}

.contacts-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--description-color);  
}


.menu-elements:hover,
.menu-elements:focus{
    color:  var(--accent-color);
}

.mail:hover,
.mail:focus{
    color: var(--accent-color);
}

.contact-number:hover,
.contact-number:focus{
    color: var(--accent-color);
}

/* Оформление main */

.hero-section {
    background-color: var(--hero-footer-backround) ;
}

.modal-btn {  
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--header-color) ;
    cursor: pointer;
    background-color: var(--accent-color);
}

.modal-btn:hover,
.modal-btn:focus {
    background: var(--hover-focus-color);
}

.main-title { 
    font-weight: 900;   
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--header-color);
}

.properties {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.work-description {
    line-height: 1.71;
    color: var(--description-color) ;
}

.second-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-color {
    background-color: var(--header-color);
}

.about-team{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--description-color) ;
}

.team-background-color{
    background-color: var(--portfolio-btn-color);
}

.footer-adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.74;
    letter-spacing: 0.03em;
    color: var(--header-color);
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-color);
}

.contacts-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-footer-color) ;
}

.footer-color {
    background-color: var(--hero-footer-backround);
}

.backround-portfolio {
    background-color: var(--header-color);
}

.second-main-portfolio {
    color: var(--body-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.about-projects {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 19;
    color: var(--description-color);
}

a:hover,
a:focus{
    color: var(--accent-color) ;
    background-color: var(--contacts-footer-color);
}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color: var(--portfolio-btn-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--header-color);
    background-color: var(--accent-color);   
}



